asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
defusedxml==0.7.1
Django==6.0.7
djangorestframework==3.17.1
gunicorn==26.0.0
httpie==3.2.4
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==6.7.1
packaging==26.2
Pygments==2.20.0
PySocks==1.7.1
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
setuptools==83.0.0
sqlparse==0.5.5
urllib3==2.7.0
